[BotConfig]
token=

[RedisConfig]
host=
port=
password=
db=

[StandartValueConfig]
max_length_nickname=60
max_length_description=500
standart_name=
standart_description=
time_sleep_new_member=0.3
time_sleep_kick_member=0.4
time_sleep_leave_member=0.5
time_sleep_new_message_single=0.1
time_sleep_new_message_group=0.1