[BotConfig]
token=

[RedisConfig]
host=
port=
password=
db=

[StandartValueConfig]
min_length_nickname=
max_length_nickname=
min_length_description=
max_length_description=
standart_name=
standart_description=
time_sleep_new_member=
time_sleep_end_member=
time_sleep_new_message_single=
time_sleep_new_message_group=